src/main/mule/call-google-api-with-service-account-jwt.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd">
	<flow name="call-google-api-with-service-account-jwtFlow" doc:id="b1c1c6e5-acbf-4551-843a-9bf066f68bcb" >
		<http:listener doc:name="Listener" doc:id="c5cc6fa4-5a9d-4d93-8433-8b07b7e8e878" config-ref="HTTP_Listener_config" path="/api/google/files"/>
		<http:request method="GET" doc:name="Drive GET /files" doc:id="2aaa6448-d454-4490-b5b1-aafeac47347d" config-ref="Google_API_Request" path="/files">
			<http:query-params><![CDATA[#[attributes.queryParams]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="9fda9db3-4874-4c17-bb4e-6bef53aa884c" />
	</flow>
</mule>
